/*Created by: Olantu :window-inactive* 
*Created on:Feb2023
*This CSS file defines the style for index.html
*ICS@O-Unit1-04-HTML-CSS*/
body {
  background-color: #ffc0cb;
}

h1 {
  background-color: #e996bf;
  color: #e6C7df;
  padding: 40px;
  text-align: center;
}

p {
  background-color: #fff;
}
